@model Lab5WebApp.Models.LabDataModel

<div style="margin-top:80px">
    <h2>Лабораторна робота 1</h2>
    <h3>Завдання:</h3>
    <p>
        Якось, прийшовши додому зі школи, Світлана виявила записку від мами, в якій вона просила зробити салат. Світлана знала, що салат - це суміш двох або більше інгредієнтів, тому їй не склало труднощів виконати мамине прохання.
    </p>
    <p>
        Але Світлана хоче стати математиком, тому, для тренування, вирішила порахувати, скільки різних салатів вона зможе зробити з наявних продуктів (майонез, огірки, помідори). Після невеликих розрахунків отримала відповідь: 4.
    </p>
    <p>
        Знаючи, що ви любите цікаві завдання, і хочете стати програмістами, Світлана попросила вас написати програму, яка визначає кількість різних салатів для довільної кількості інгредієнтів.
    </p>
    <div>
        <h4>Приклад вхідних данних:</h4>
        <p>1 3</p>
        <h4>Приклад данних після роботи програми:</h4>
        <pre>4</pre>
    </div>

    <form method="post" enctype="multipart/form-data" asp-controller="Lab1" asp-action="Lab1">
        <div class="row">
            <div class="form-group container mt-2">
                <h4>Вхідні дані:</h4>
                <input id="inputText" class="form-control" type="text" asp-for="Input"></input>
                <h4>Вихідні дані:</h4>
                <input id="inputText" class="form-control" type="text" asp-for="Output"></input>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Виконати</button>
    </form>
    
</div>
